*{
    margin: 0;
    padding: 0;
}

body{
    margin: 20px;
}

li{
    padding: 10px;
}

button{
    padding: 10px;
}

button:hover{
    background-color: lightgrey;
}

input, select{
    border: 2px solid black;
    padding-left: 10px;
}