h1 {
    background-color: lightgoldenrodyellow;
    margin: 0;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #222222;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #d0d0d0;
}

header img {
    height: 400px;
    width: 617px;
    background-color: #d0d0d0;
    padding: 10px;
}

body {
    background-color: #d0d0d0;
    padding: 0;
    margin: 0;
}

main {
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    text-align: center;
}
